@media screen and (max-width: 500px) {

    body {
        padding-top: 80px;
    }

    .container {
        padding: 0 20px;
    }

    .checkbox__input {
        height: 24px;
        width: 24px;
    }
    
}